
.cuerpo{
    padding: 1em;
}
.fila{
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}
.fila iframe{
    min-width: 560px;
    min-height: 315px;
}
.fila p{
    font-size: 1.3em;
    margin-left: 2em;
}
