
.cuerpo{
    padding: 1em;
}
h1{
    font-size: 2.5em;
    margin: 1em;

}
.fila{
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}
.fila iframe{
    min-width: 560px;
    min-height: 315px;
}
.fila p{
    font-size: 1.3em;
    margin-left: 2em;
}
figure{
    width: 30%;
}
img{
    width: 100%;
    min-width: 350px;
}