

.fotoPersona{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.huecoFoto{
    display: flex;
    justify-content: center;
}

legend{
    font-family: Arial;
    font-weight: bold;
    padding-top: 1em;
}

.perfil{
    width: 20%;
}

h2{
    font-size: 2em;
    padding: 2em;
}
h3{
    font-size: 1.3em;
    padding-left: 1em;
}
.lblCalendario{
    padding-left: 1em;
    display: block;
}
.iCalendario{
    background-color: #462467;
    color: greenyellow;
    border-radius: 0.7em;
    padding: 0.5em 1em;
    font-size: 1.3em;
}
.aviso{
    color: red;
}

.ddlReservas{
    color: greenyellow;
    background-color: #462467;
    font-size: 1.3em;
    padding: 0.6em 1em;
    text-align: center;
    border-radius: 0.7em;
}

.cajaOpciones{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 3em;
}
.cajaOpciones label{
    padding-right: 2em;
}

.cajaReservas{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.cajaReserva{
    display: flex;
    padding-bottom: 0.5em;
    align-items: center;
    margin-left: 1em;
}
.cajaReservas p{
    font-size: 2em;
    padding-right: 1em;
}
.cajatabla td{
    font-size: 1.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}








