h1{
    font-family:Arial;
    font-size: 2.5em;
    padding: 1em;

}
.cajatabla{
    display: flex;
    justify-content: center;

}
td{
    vertical-align: middle;
}
table{

    border:1px solid black;
    width: 90%;
    margin-bottom: 4em;
}
th{
    border: 1px solid rebeccapurple;
    background-color: rgba(71, 15, 110,1);
    font-size: 1.5em;
    padding: 1em;
    color:greenyellow;
}



.fotoPersona{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.huecoFoto{
    display: flex;
    justify-content: center;
}
.btnDesactivar{
    background-color: #d90a0a;
    color: white;
    border: 3px solid lightcoral;
    border-radius:0.5em ;
    padding: 0.3em 0.6em;
    font-weight: bold;
    filter: drop-shadow(3px 3px 1px gray);
}
.btnActivar{
    background-color: forestgreen;
    color: white;
    border: 3px solid yellowgreen;
    border-radius:0.5em ;
    padding: 0.3em 0.6em;
    font-weight: bold;
    filter: drop-shadow(3px 3px 1px gray);
}
.btnDesactivar:hover{
    background-color: #8c3b3b;
    filter:drop-shadow(0px 0px 0px);

}
.btnActivar:hover{
    background-color: #175917;
    filter:drop-shadow(0px 0px 0px);
}
tr{
    background-color: rgba(213, 255, 133, 0.41);
}
.filaUsuarios{
    border-bottom: 1px solid rebeccapurple;
}
.cajaBoton{
    display: flex;
    justify-content: center;


}

.cajaForm{
    width: 60%;
    background-color: #d7efb0;
    border-radius: 3em;
    border: 3px solid rebeccapurple;
    margin:auto;
    padding: 3em;
}

.form-inline{
    display: flex;
}
label{
    font-family: Arial;

    font-weight: bold;
    padding-top: 1em;
}

legend{
    font-family: Arial;

    font-weight: bold;
    padding-top: 1em;
}

.form-check{
    display: flex;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}



