{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/usuarios.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('Scripts/fechita.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <h1> Mi calendario</h1>
        <h3>Aquí puedes mirar las series que hiciste anteriormente</h3>
        <label id="idUsuario" hidden>{{ app.user.id }}</label>
        <label class="lblCalendario">Escoge una fecha para ver tus series:
            <input class="iCalendario" id="InFecha" type="date" onkeydown="false">
            <label id="msgValidacion" class="aviso"></label>
        </label>

        <button  class="btnVolver" id="btnMagia">Ver series de este dia</button>

    </div>
{% endblock %}