{% extends 'layout.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    {% if serie.id %}
        <h1>Editando la serie</h1>
    {% else %}
        <h1>Creando una nueva serie</h1>
    {% endif %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
            {% if serie.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Crear esta serie
            {% endif %}
        </button>
        <a href="{{ path('tablas_listar') }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Volver al listado</a>
        {{ form_end(form) }}
    </div>

{% endblock %}